.my_header{
    text-align: center;
}



.two-col{
    overflow: hidden;
}

.two-col .A1cards  {
    width: 40%;
    float: left;
}


.two-col .B1cards{
    width: 40%;
    float: right;
}

