.title {
    text-align: center;
}

.chooser_button {
    border: 2px solid white;
    background-color: rgb(146, 232, 149);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(40, 166, 99);
    margin: auto;
    margin-top: 30px;
    width: 250px;
    height: 40px;
    font-size: 24px;
    text-align: center;
}

.items_chooser {
    text-align: left;
    border : solid 2px rgba(0, 0, 0, 0.884);
    background-color: rgb(214, 249, 212);
    column-count: 3;
    column-gap: 30 px;
    display: block;
    margin-left: auto;
    margin-right:auto;
    padding: 10px;
    width: 60%;

}

.items_chooser .closer {
    border: 2px solid rgb(93, 133, 111);
    background-color: rgb(24, 107, 62);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 20px;
    width: 200px;
    height: 40px;
    font-size: 18px;
    text-align: center;
}

.t_word {
    border: solid 5px rgba(0, 0, 0, 0.884);
    background-color: rgb(252, 211, 157);
    text-align: center;
    width: 65%;
    margin: auto;
    margin-top: 50px;
}

.filler {
    visibility: hidden;
}

.ansbutton{
    border: 4px solid rgb(233, 106, 3);
    background-color: white;
    font-weight: bold;
    height: 40px;
    font-size: 16px;
}

.slbutton{
    border: 4px solid rgb(3, 150, 218);
    background-color: white;
    font-weight: bold;
    width: 150px;
    height: 35px;
    font-size: 18px;

}

.nw_button {
    border: 2px solid black;
    background-color: rgb(93, 0, 241);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin: auto;
    margin-top: 50px;
    width: 300px;
    height: 50px;
    font-size: 24px;
}

.choices {
    margin-top: 25px;
}



.e_sentence {
    text-align: center;
    margin: auto;
    margin-top: 50px;
}

.h_and_s {
    border: solid 5px rgba(0, 0, 0, 0.884);
    background-color: rgb(159, 248, 248);
    text-align: center;
    width: 65%;
    margin: auto;
    margin-top: 70px;   
}